<header>
    <img [src]="'assets/img/Luis.jpg'" alt="Luis Albuquerque - Foto de Perfil" width="130px" height="130px" loading="eager"/>
     <h1>Luis Gustavo Albuquerque Martins</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack | Angular | JavaScript | TypeScript</p>
        <p>São Bernardo do Campo, São Paulo, Brasil</p>
        <p>
            pequena descricao que ainda nao saie
        </p>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/Curriculo - Luis G A. Martins.pdf" target="_blank" class="btn btn-primary">
                        Download Cv
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/luis-gustavo-albuquerque-martins-149025171/" target="_blank" class="btn btn-secondary">
                        LinKedin
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Icone whatsapp" width="22px" height="24px"/>
               <figcaption>
                <a href="https://api.whatsapp.com/send?phone=5511976004588&text=Ol%C3%A1%20Luis,%20preciso%20de%20um%20job!" target="_blank">
                <strong>Envie uma mensagem para:</strong>
                <p>whatsapp: (11) 9 7600-4588</p>
                </a>
               </figcaption>
            </figure>

            <figure>
                <img src="assets/icons/mail.svg" alt="Icone e-mail" width="22px" height="24px"/>
                <figcaption>
                 <a href="meilto:luisgustavoalbuquerquemartins@gmail.com" target="_blank">
                 <strong>Envie uma e-mail para:</strong>
                 <p>luisgustavoalbuquerquemartins&#64;gmail.com</p>
                 </a>
                </figcaption>
             </figure>
        </section>
    </div>
</aside>