:root{
    --primary: #8f008f;
    --primary-010: #c53ac5;

    --secondary: #06628a;
    --secondary-010: #06374e;

    --white: #fff;
    --white-010: #e6e6e6;

    --black: #10101a;
    --black-010: #44444c;
    --black-020: #808080 ;

    --grey: #9e9e9e;
}